.normal {
    background-color: #A8A77A;
  }
  
  .fighting {
    background-color: #ff7c77; 
  }
  
  .flying {
    background-color: #A98FF3; 
  }
  
  .poison {
    background-color: #ac85ab; 
  }
  .ground {
    background-color: #E2BF65; 
  }
  
  .rock {
    background-color: #B6A136; 
  }
  
  .bug {
    background-color: #A6B91A;
  }
  
  .ghost {
    background-color: #b899e0; 
  }
  
  .steel {
    background-color: #B7B7CE; 
  }
  
  .fire {
    background-color: #EE8130; 
  }
  
  .water {
    background-color: #6390F0; 
  }
  
  .grass {
    background-color: #99d476; 
  }
  
  .electric {
    background-color: #F7D02C; 
  }
  
  .psychic {
    background-color: #F95587;
  }
  
  .ice {
    background-color: #96D9D6; 
  }
  
  .dragon {
    background-color: #6F35FC;
  }
  
  .dark {
    background-color: #705746; 
  }
  
  .fairy {
    background-color: #D685AD; 
  }
  